a {
  font-weight: bold;
  color: #ef941f;
  text-decoration: none;
}
a:hover {
  color: #3db4f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input {
  text-align: center;
}
input,
textarea,
button {
  display: block;
  padding: 0.5em;
  margin-bottom: 0.5em;
  box-sizing: border-box;
  background-color: #ef941f;
  color: #f2f0e4;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
}
textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 15em;
}
input[type="submit"],
button {
  background-color: #3984ad;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
input[type="submit"]:hover,
button:hover {
  background-color: #3db4f5;
}
input[type="submit"].delete,
button.delete {
  background-color: #d70000;
}
input[type="submit"].delete:hover,
button.delete:hover {
  background-color: #ff0b0b;
}
input[type="checkbox"] {
  display: inline;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.flex.wrap {
  flex-wrap: wrap;
}
html {
  height: 100%;
  font-size: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e1dbc1;
  font-family: Roboto, sans-serif;
}
#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 1em 2em;
}
#main-header h1 {
  margin: 0;
}
#main-header nav {
  display: flex;
}
.user,
.logout {
  margin-left: 1.2em;
}
main {
  background-color: #f2f0e4;
  padding: 2em;
  margin: 2em auto;
  width: 100%;
  box-sizing: border-box;
}
#last-articles h2 {
  margin-bottom: 1em;
}
#last-articles article {
  margin-bottom: 2em;
}
#article .title {
  color: #ef941f;
}
#article header {
  font-size: 1.1em;
  margin-bottom: 1.5em;
}
.title {
  border-bottom: 1px solid #ef941f;
  margin-bottom: 0.2em;
}
.info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}
.categories {
  font-size: 0.9em;
}
.edit {
  display: flex;
  justify-content: flex-end;
}
.read {
  display: flex;
  justify-content: flex-end;
}
#login nav {
  display: flex;
  justify-content: space-between;
}
#login nav .tab {
  padding: 0.5em;
  box-sizing: border-box;
  height: 2em;
  margin-bottom: 0.5em;
  cursor: pointer;
  width: 50%;
  text-align: center;
  border: 1px solid #e1dbc1;
  border-bottom: none;
}
#login nav .tab:hover {
  color: #3984ad;
}
#login nav .tab.inactive {
  color: #666666;
  border: none;
}
#login nav .tab.inactive:hover {
  color: #3984ad;
}
#write input[type="text"],
#edit input[type="text"] {
  text-align: initial;
}
#write input[type="submit"],
#edit input[type="submit"] {
  margin-top: 1.2em;
}
.checkbox {
  margin-right: 0.5em;
}
.checkbox:last-child {
  margin-right: 0;
}
.checkboxes {
  margin-bottom: 0.5em;
}
#overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
#overlay.visible {
  display: flex;
}
.close {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
}
.close i {
  cursor: pointer;
}
.window {
  background-color: #e1dbc1;
  padding: 2em;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
#main-footer {
  display: flex;
  justify-content: center;
  background-color: #333333;
  color: #f2f0e4;
  padding: 1em 2em;
  margin-top: auto;
  font-size: 0.9em;
}
#main-footer p {
  margin: 0;
}
.large {
  display: none;
}
#login {
  max-width: 30em;
}
@media (min-width: 576px) {
  main {
    width: 95%;
  }
}
@media (min-width: 768px) {
  main {
    width: 90%;
  }
}
@media (min-width: 992px) {
  main {
    width: 80%;
  }
  .large {
    display: block;
  }
  span.large {
    display: inline;
  }
  .user,
  .logout {
    margin-left: 2.5em;
  }
}
@media (min-width: 1200px) {
  main {
    width: 70%;
  }
}
@media (min-width: 1400px) {
  main {
    width: 60%;
  }
}
@media (min-width: 1600px) {
  main {
    width: 55%;
  }
}
@media (min-width: 1920px) {
  main {
    width: 50%;
  }
}
