@import 'var.less';

a {
  font-weight: bold;
  color: @orange;
  text-decoration: none;

  &:hover {
    color: @lightblue;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  text-align: center;
}

input,
textarea,
button {
  display: block;
  padding: 0.5em;
  margin-bottom: 0.5em;
  box-sizing: border-box;
  background-color: @orange;
  color: @white;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 15em;
}

input[type="submit"],
button {
  background-color: @blue;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);

  &:hover {
    background-color: @lightblue;
  }

  &.delete {
    background-color: @red;

    &:hover {
      background-color: lighten(@red, 10%);
    }
  }
}

input[type="checkbox"] {
  display: inline;
}

.hidden {
  display: none;
}

.flex {
  display: flex;

  &.wrap {
    flex-wrap: wrap;
  }
}
