@import 'var.less';

html {
  height: 100%;
  font-size: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: @lightgrey;
  font-family: Roboto, sans-serif;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: @darkgrey;
  padding: 1em 2em;

  h1 {
    margin: 0;
  }

  nav {
    display: flex;
  }
}

.user, .logout {
  margin-left: 1.2em;
}

main {
  background-color: @white;
  padding: 2em;
  margin: 2em auto;
  width: 100%;
  box-sizing: border-box;
}

#last-articles {
  h2 {
    margin-bottom: 1em;
  }

  article {
    margin-bottom: 2em;
  }

  header {

  }
}

#article {
  .title {
    color: @orange;
  }

  header {
    font-size: 1.1em;
    margin-bottom: 1.5em;
  }
}

.title {
  border-bottom: 1px solid @orange;
  margin-bottom: 0.2em;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.categories {
  font-size: 0.9em;
}

.edit {
  display: flex;
  justify-content: flex-end;
}

.read {
  display: flex;
  justify-content: flex-end;
}

#login {

  nav {
    display: flex;
    justify-content: space-between;

    .tab {
      padding: 0.5em;
      box-sizing: border-box;
      height: 2em;
      margin-bottom: 0.5em;
      cursor: pointer;
      width: 50%;
      text-align: center;
      border: 1px solid @lightgrey;
      border-bottom: none;

      &:hover {
        color: @blue;
      }

      &.inactive {
        color: @grey;
        border: none;

        &:hover {
          color: @blue;
        }
      }
    }
  }
}

#write, #edit {
  input[type="text"] {
    text-align: initial;
  }

  input[type="submit"] {
    margin-top: 1.2em;
  }
}

.checkbox {
  margin-right: 0.5em;

  &:last-child {
    margin-right: 0;
  }
}

.checkboxes {
  margin-bottom: 0.5em;
}

#overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);

  &.visible {
    display: flex;
  }
}

.close {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;

  i {
    cursor: pointer;
  }
}

.window {
  background-color: @lightgrey;
  padding: 2em;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

#main-footer {
  display: flex;
  justify-content: center;
  background-color: @darkgrey;
  color: @white;
  padding: 1em 2em;
  margin-top: auto;
  font-size: 0.9em;

  p {
    margin: 0;
  }
}
