@import 'var.less';

.large {
  display: none;
}

#login {
  max-width: 30em;
}

@media (min-width: 500px) {

}

@media (min-width: 576px) {
  main {
    width: 95%;
  }
}

@media (min-width: 768px) {
  main {
    width: 90%;
  }
}

@media (min-width: 992px) {
  main {
    width: 80%;
  }

  .large {
    display: block;
  }

  span.large {
    display: inline;
  }

  .user, .logout {
    margin-left: 2.5em;
  }
}

@media (min-width: 1200px) {
  main {
    width: 70%;
  }
}

@media (min-width: 1400px) {
  main {
    width: 60%;
  }
}

@media (min-width: 1600px) {
  main {
    width: 55%;
  }
}

@media (min-width: 1920px) {
  main {
    width: 50%;
  }
}
